.choose_function {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    list-style: none;
    padding: 0;
    background-color: greenyellow;
    align-items: center;
}

.choose_function li {
    padding: 10px 20px;
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 0px solid #000;
    list-style: none;
    padding: 5px 0;
    margin: 5px 0 0 0;
    min-width: 200px;
}

.choose_function li:hover .submenu {
    display: block;
}

.submenu li {
    padding: 8px 15px;
    text-align: left;
}

.submenu li:hover {
    background-color: #e0e0e0;
}
h1 
{
    text-align: center;
    color: blue;
}
h2
{
    text-align: center;
    color: black;
}
body
{
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, sans-serif;
}

input[type="text"], input[type="number"] 
{
    width: 100%;
    height: 100px;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.choice-select {
    width: 10%;
    height: 50px;
    padding: 1px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: left;
}
.input-value {
    height: 50px;
    padding: 5px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
}