{% extends "base/base.html" %}
{% block title %}Nhân đồng dư modulo{% endblock title %}
{% block content %}
    {% if error %}
        <p class="error" style="color:crimson">{{ error }}</p>
    {% endif %}
    <h2>Nhân đồng dư modulo</h2>
    <form method="get" action="{% url "multiple_modulo_compute" %}">
    <input id="a" name="a" class="input-value" style="width:10%" placeholder="biến a" value="{{ expression|default:'' }}">
    <input id="c" name="c" class="input-value" style="width:10%" placeholder="biến c" value="{{ expression|default:'' }}">
    <p> ≡ </p>
    <input id="b" name="b" class="input-value" style="width:10%" placeholder="biến b" value="{{ expression|default:'' }}">
    <input id="d" name="d" class="input-value" style="width:10%" placeholder="biến d" value="{{ expression|default:'' }}">
    <input type="submit" value="Tính">
    </form>
    {% if result is not none %}
        {% if result|length > 0 %}
        <p>{{a}} * {{c}} đồng dư với {{b}} * {{d}} với các modulo:</p>
        <p>{{ result|join:", " }}</p>
        {% else %}
        <p>{{a}} * {{c}} không đồng dư với {{b}} * {{d}} cho bất kỳ modulo > 1 nào</p>
        {% endif %}
    {% endif %}
{% endblock content %}