{% extends "base/base.html" %}
{% block title %}Nguyên tử{% endblock title %}
{% block content %}
    {% if error %}
        <p class="error" style="color:crimson">{{ error }}</p>
    {% endif %}
    <h2>Lấy danh sách nguyên tử</h2>
    <form method="get" action="{% url "atom_compute" %}">
        {% csrf_token %}
        <label for="expression">Nhập dãy logic (tách nhau bằng dấu cách)</label><br>
        <p> Ví dụ: 1 2 hoặc (1,2) (3,4)</p><br>
        <input id="expression" name="expression" style="width:70%" value="{{ expression|default:'' }}">
        <input type="submit" value="Lấy danh sách nguyên tử">
    </form>
    {% if result is not none %}
        <h3> Danh sách nguyên tử cho {{ expression}}:</h3>
        <p> {{ result }} </p>
    {% endif %}
{% endblock content %}