{% extends "base/base.html" %}
{% block title %}Lấy tự tối đại{% endblock title %}
{% block content %}
{% if error %}
    <p class="error" style="color:crimson">{{ error }}</p>
{% endif %}
    <h2> Lấy tự tối đại </h2>
    <form method="get" action="{% url "maxterm_compute" %}">
        {% csrf_token %}
        <label for="expression"> Nhập biểu thức Logic:
            <br>
            v: hợp
            <br>
            ví dụ: xyzvyzt
        </table><br>
        <input id="expression" name="expression" style="width:70%" value="{{ expression|default:'' }}">
        <input type="submit" value="Lấy tự tối đại">
    </form>
    {% if result is not none %}
        <p>Kết quả: {{result}}</p>
    {% endif %}
{% endblock content %}