{% extends "base/base.html"%}
{% block title %} Kiểm tra song ánh {% endblock %}
{% block content %}
    <h2>Kiểm tra song ánh</h2>
    {% if error %}
        <p class="error" style="color:crimson">{{ error }}</p>
    {% endif %}
    <form method="get" action="{% url 'check_bijective_compute' %}">
        {% csrf_token %}
        <label for="domain">Tập xác định (Domain):</label><br>
        <select name="domain" id="domain">
            <option value="N">N</option>
            <option value="Z">Z</option>
            <option value="R">R</option>
            <option value="R+">R+</option>
            <option value="C">C</option>
        </select><br><br>
        <label for="codomain">Tập giá trị (Codomain):</label><br>
        <select name="codomain" id="codomain">
            <option value="N">N</option>
            <option value="Z">Z</option>
            <option value="R">R</option>
            <option value="R+">R+</option>
            <option value="C">C</option>
        </select><br><br>
        <label for="mapping">Ánh xạ (Mapping) dưới dạng cặp (x,y), cách nhau bởi dấu bằng:</label><br>
        <input id="formula" name="formula" style="width:70%" value="{{ formula|default:'' }}">
        <input type="submit" value="Kiểm tra">
    </form>
    <h2>Chú ý: song ánh chỉ được kiểm tra trên các tập hợp hữu hạn</h2>
    {% if result is not none %}
        <h3>Kết quả: {{ result }}</h3>
    {% endif %}
{% endblock %}