{% extends "base/base.html"%}
{% block title %} Phương ánh ngược {% endblock %}
{% block content %}
    <h2>Phương ánh ngược</h2>
    {% if error %}
        <p class="error" style="color:crimson">{{ error }}</p>
    {% endif %}
    <form method="get" action="{% url 'reverse_mapping_compute' %}">
        {% csrf_token %}
        <label for="domain">Tập xác định (Domain):</label><br>
        <select name="domain" id="domain" class="choice-select">
            <option value="N">N</option>
            <option value="Z">Z</option>
            <option value="R">R</option>
            <option value="R+">R+</option>
            <option value="C">C</option>
        </select><br><br>
        <label for="codomain">Tập giá trị (Codomain):</label><br>
        <select name="codomain" id="codomain" class="choice-select">
            <option value="N">N</option>
            <option value="Z">Z</option>
            <option value="R">R</option>
            <option value="R+">R+</option>
            <option value="C">C</option>
        </select><br><br>
        <label for="mapping">Ánh xạ (Mapping) dưới dạng công thức, ví dụ(y=x+1):</label><br>
        <input id="formula" name="formula" style="width:70%" class="input-value" value="{{ formula|default:'' }}">
        <input type="submit" value="Tính ánh xạ ngược">
    </form>
    {% if result is not none %}
        <h3>Kết quả: {{ result }}</h3>
    {% endif %}
{% endblock %}